events/server/venv
events/server/__pycache__
events/server/generated/__pycache__
events/server/data.json

events/client/.idea/
events/client/out/
events/client/protoc-gen-grpc-java-1.71*

dynamic-grpc/server/venv
dynamic-grpc/server/__pycache__

dynamic-grpc/client/.idea
dynamic-grpc/client/out